
<div class="container">
  <h2 class="mt-5">Información de la Empresa</h2>
  <div class="row">
    <div class="col-md-6">
        <h3>Formulario de Registro o Edición de Empresa</h3>
        <button class="btn btn-primary mb-3" (click)="toggleFormVisibility()">Agregar</button>
        <form *ngIf="isFormVisible" (ngSubmit)="guardarEmpresa()" #empresaForm="ngForm">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="empresa.nombre" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="empresa.descripcion" required></textarea>
            </div>
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="empresa.direccion">
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="empresa.telefono">
            </div>
            <div class="form-group">
                <label for="correoElectronico">Correo Electrónico:</label>
                <input type="email" class="form-control" id="correoElectronico" name="correoElectronico" [(ngModel)]="empresa.correoElectronico">
            </div>
            <div class="form-group">
                <label for="sitioWeb">Sitio Web:</label>
                <input type="text" class="form-control" id="sitioWeb" name="sitioWeb" [(ngModel)]="empresa.sitioWeb">
            </div>
            <div class="form-group">
                <label for="sector">Sector:</label>
                <input type="text" class="form-control" id="sector" name="sector" [(ngModel)]="empresa.sector">
            </div>
            <div class="form-group">
                <label for="fechaFundacion">Fecha de Fundación:</label>
                <input type="date" class="form-control" id="fechaFundacion" name="fechaFundacion" [(ngModel)]="empresa.fechaFundacion">
            </div>
            <div class="form-group">
                <label for="logo">Logo:</label>
                <input type="file" class="form-control-file" id="logo" name="logo" (change)="onFileSelected($event)" accept="image/*" required>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-secondary" (click)="limpiarFormulario()">Cancelar</button>
                <button type="submit" class="btn btn-primary">{{ isEditing ? 'Actualizar' : 'Agregar' }}</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Tarjeta de Empresa</h3>
        <div class="card company-card" *ngFor="let empresa of empresas">
            <img [src]="empresa.logoUrl" class="card-img-top company-logo" alt="Logo">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-building"></i> {{ empresa.nombre }}</h5>
                <p class="card-text"><i class="fas fa-info-circle"></i> {{ empresa.descripcion }}</p>
                <p class="card-text"><i class="far fa-envelope"></i> {{ empresa.correoElectronico }}</p>
                <p class="card-text"><i class="far fa-calendar-alt"></i> {{ empresa.fechaFundacion | date }}</p>
                <div class="edit-delete-buttons">
                    <button class="btn btn-danger mr-2" (click)="eliminarEmpresa(empresa.id_empresa)"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    <button class="btn btn-primary" (click)="editarEmpresa(empresa)"><i class="fas fa-edit"></i> Editar</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>
  